.produkt-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}


@media (max-width: 900px) {
  .produkt-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .produkt-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.produkt-kort {
  all: unset;              
  box-sizing: border-box;
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
    :hover{ cursor: pointer;
  }
}

.produkt-kort img {
  width: 100%;
  aspect-ratio: 3 / 4;  
  object-fit: cover;
  border-radius: 8px;
}

.tittel {
  font-weight: 600;
  margin: 0.75rem 0 0.25rem;
}