.img-container {
  width: 100%;
  aspect-ratio: 960 / 643;
  max-height: 90vh;
  min-height: 300px;
  overflow: hidden;
  position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
     transition: transform 0.6s ease-in-out;
}
