<h1>Priser</h1>

<section aria-labelledby="priser-ridetimer">
  <h2 id="priser-ridetimer">Ridetimer</h2>
  <ul>
    <li>1 kurs (10 ridetimer): 4.125 NOK</li>
    <li>Klippekort (10 klipp): 4.750 NOK</li>
    <li>Enkelt-time lørdag: 525 NOK</li>
     <li>Privat time: 725 NOK</li>
  </ul>
</section>

<section aria-labelledby="priser-langturer">
  <h2 id="priser-langturer">Langturer</h2>
  <p>Ved kapasitet tilbys flotte langturer tur som går gjennom skog og på fine grusveier. 
    Nybegynnere får leiere. Viderekommende kan få galoppere der det er trygt. 
    I pakken inngår ca 90 min å ri + 45 min stell.</p>
  <ul>
    <li>Langtur: 725 NOK</li>
  </ul>
</section>