<section class="prisoversikt-seksjon">
 
  <h1>Pris oversikt</h1>

  <app-booking-leaf-snarvei></app-booking-leaf-snarvei>
  <div class="priser-grid">
    <div *ngFor="let pris of Priser" class="prisoversikt-seksjon">
    <mat-card class="priser-card">
        <mat-card-header class="tittel">
          <mat-card-title>{{ pris.tjeneste }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="pris-info">
          <p *ngIf="pris.info">{{ pris.info }}</p>
            <ng-container *ngIf="pris.lesMerLink">
        <a
          [routerLink]="pris.lesMerLink"
          class="les-mer-link"
        >
          {{ pris.lesMerTekst }}
        </a>
      </ng-container>
        </mat-card-content>

        <table mat-table 
        [dataSource]="pris.prisOversikt"
        class="pris-tabell">

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let rad">
              {{ rad.type }}
            </td>
          </ng-container>

          <ng-container matColumnDef="pris">
            <th mat-header-cell *matHeaderCellDef> Pris </th>
            <td mat-cell *matCellDef="let rad">
              {{ rad.pris }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['type', 'pris']"></tr>
          <tr mat-row *matRowDef="let rad; columns: ['type', 'pris'];"></tr>
        
        </table>
    </mat-card>

    </div>
  </div>


</section>