@use '@angular/material' as mat;

:root {
  --background-color-blue: #2c2f67;
  --text-color-main: #ffffff;
  --font-family-main: 'Inter', Arial, sans-serif;
  --font-weight-main: 400;
  --font-style-main: normal;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color:  #d5d6da;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html, body {
  height: 100%;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main);
  font-style: var(--font-style-main); }
body {
  margin: 0;
  font-family: var(--font-family-main), sans-serif !important;
}


.content-wrapper {
  
  margin: 0 auto;     
  box-sizing: border-box;
}

@media (min-width: 1800px) {
  .content-wrapper {
    padding-left: 200px;
    padding-right: 200px;
  }
}